.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 2rem;
}

.auth-form-container {
  width: 100%;
  max-width: 42rem;
  padding: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #fff;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
