header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--mat-primary);
}

nav {
  display: flex;
  gap: 1rem;
}

.user-table {
  margin: 1rem;
}

.mat-mdc-form-field {
  width: 100%;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.table-container {
  overflow-x: auto;
  margin-bottom: 20px;
}

.export-button {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}
